#blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  .blog-post {
    background-color: var(--background-color);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .blog-post:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(6, 42, 68, 0.1);
  }
  
  .blog-post h2 {
    font-size: 1.5rem;
    margin: 1rem;
  }
  
  .blog-post p {
    margin: 0 1rem 1rem;
    color: var(--secondary-color);
  }
  
  .blog-post a {
    display: inline-block;
    margin: 0 1rem 1rem;
  }
  
  .blog-post-modal .modal-content {
    max-width: 800px;
  }
  
  .blog-post-modal h2 {
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
  
  .blog-post-modal p {
    margin-bottom: 1rem;
  }
  
  