:root {
    /* CSS HEX */
    --true-blue: #0466c8ff;
    --sapphire: #0353a4ff;
    --yale-blue: #023e7dff;
    --oxford-blue: #002855ff;
    --oxford-blue-2: #001845ff;
    --oxford-blue-3: #001233ff;
    --delft-blue: #33415cff;
    --paynes-gray: #5c677dff;
    --slate-gray: #7d8597ff;
    --cool-gray: #979dacff;
    --alice-blue: #edf6f9ff;
  
    /* Text Colors */
    --headline-color-on-white: var(--oxford-blue-3);
    --headline-color-on-color: var(--alice-blue);
    --paragraph-color-on-white: var(--secondary-color);
    --paragraph-color-on-color: var(--accent3-color);
  
    --paragraph-background-color: var(--alice-blue);
  
    /* Navigation Colors */
    --nav-link-color: var(--oxford-blue-3);
    --nav-background-color: var(--cool-gray);
    --nav-hover-link-color: var(--oxford-blue-3);
    --nav-hover-background-color: var(--true-blue);
  
    --barlow-regular-font-family: "Barlow", sans-serif;
    --barlow-regular-font-weight: 400;
    --barlow-regular-font-style: normal;
  
    --lato-regular-font-family: "Lato", sans-serif;
    --lato-regular-font-weight: 400;
    --lato-regular-font-style: normal;
  
    --font-size-small: 16px;
    --font-size-base: 20px;
    --font-size-large: 24px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  li {
    font-family: var(--lato-regular-font-family);
  }
  
  p {
    font-family: var(--barlow-regular-font-family);
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  /*Header */
  header,
  footer {
    background-color: var(--oxford-blue);
    color: var(--alice-blue);
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }
  
  .avatar {
    width: 80px;
    height: 90px;
    border: 2.5px var(--alice-blue) solid;
    border-radius: 20%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  }
  
  .avatar img {
    width: 100%;
    height: auto;
  }
  
  header h1 {
    font-size: var(--font-size-base);
    font-weight: bold;
  }
  
  /* mobile **************************/
  /*Hamburger menu*/
  
  #menu {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.5rem;
    background-color: var(--oxford-blue);
    color: var(--alice-blue);
    border: none;
    cursor: pointer;
  }
  
  #menu::before {
    content: "≡";
  }
  
  nav {
    background-color: var(--yale-blue);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
  }
  
  nav li {
    border-bottom: 1px solid #555;
  }
  
  nav a {
    display: block;
    color: var(--alice-blue);
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  
  nav a:hover:not(.active) {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
  }
  
  nav li:last-child {
    border-bottom: none;
  }
  
  nav a.active {
    background-color: #fef9d9;
    color: var(--oxford-blue-3);
  }
  
  .open ul {
    display: block;
  }
  
  #menu.open::before {
    content: "X";
  }
  
  /*Content*******************/
  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    flex: 1;
  }
  
  main section {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--paragraph-background-color);
    overflow: hidden;
  }
  
  section h2 {
    background-color: var(--oxford-blue-3);
    color: var(--headline-color-on-color);
    margin: 0;
    padding: 0.5rem;
    font-size: var(--font-size-base);
  }
  
  section ul {
    
    margin: 0.5rem 0;
  }
  
  section li {
    font-size: var(--font-size-small);
  }
  
  picture {
    display: block;
    max-width: 100%;
  }
  
  section img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
  
  section p {
    font-size: var(--font-size-small);
    margin: 0.5rem;
  }
  
  .boxcertificate01 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem 0;
  }
  
  .boxButton {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .courseButton {
    padding: 0.25rem 1rem;
    border-radius: 5rem;
    color: #000000;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.05rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: var(--slate-gray);
    border: none;
    cursor: pointer;
  }
  
  .courseButton:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--alice-blue);
    transition: all 0.3s;
    border-radius: 5rem;
    z-index: -1;
  }
  
  .courseButton:hover {
    color: var(--oxford-blue-3);
  }
  
  .courseButton:hover:before {
    width: 100%;
  }
  
  .course {
    border: var(--oxford-blue-3) solid 2px;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
  }
  
  .course h3 {
    font-size: var(--font-size-small);
    margin: 0;
    transition: all 0.3s;
  }
  
  .courseNoComplete {
    background-color: var(--alice-blue);
    color: var(--oxford-blue-3);
  }
  
  .courseComplete {
    background-color: var(--yale-blue);
    color: white;
  }
  
  .course::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 18, 51, 0.468);
    border-bottom-color: rgba(0, 18, 51, 0.468);
    transform: scale(0.1, 1);
  }
  
  .course:hover h3 {
    letter-spacing: 2px;
  }
  
  .course:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }
  
  .course::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    background-color: rgba(8, 118, 227, 0.1);
  }
  
  .course:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
  }
  
  dialog {
    border: 1px solid var(--oxford-blue-3);
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: var(--paragraph-background-color);
    box-shadow: 0 0 3rem var(--oxford-blue-3);
    width: 90%;
    max-width: 600px;
  }
  
  ::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  dialog button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--oxford-blue-3);
    background-color: var(--alice-blue);
    cursor: pointer;
  }
  
  /*Footer */
  
  footer {
    margin-top: auto;
    padding: 1rem;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  @media (min-width: 480px) {
    nav ul {
      display: flex;
    }
  
    nav ul li {
      flex: 1;
      border-bottom: none;
    }
  
    #menu {
      display: none;
    }
  
    main {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .boxcertificate01 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 768px) {
    header {
      padding: 1rem 2rem;
    }
  
    header h1 {
      font-size: var(--font-size-large);
    }
  
    .avatar {
      width: 80px;
      height: 100px;
    }
  
    main {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1200px;
      margin: 0 auto;
      padding: 2rem;
    }
  
    .boxcertificate01 {
      grid-template-columns: repeat(3, 1fr);
    }
  
    section h2 {
      font-size: var(--font-size-large);
    }
  
    section li,
    section p {
      font-size: var(--font-size-base);
    }
  }
  
  